body {
    font-family: Century Gothic;
    background-color: #D5C8BF;
    color: #352894;
    margin: 0;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    background: #EDEDED;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.content-left, .content-right {
    background: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.content-left {
    flex: 2;
}

.content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 100%;
    border-radius: 10px;
}